{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h2 class="heading-title m-b-35">Director Name : {{ director.name }}</h2>
        <!--<div>
            <img src="https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-9/18582124_1510113022373522_4377511334014934473_n.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=zH_YMR9dt_kAX8mAZQD&_nc_ht=scontent.fmaa1-2.fna&oh=4af5cd06b68120d0c0a4753027b5357a&oe=5E94B6C9" height="300" width="300">
        </div> -->
        <!--<div>
            <p class="director-note">

            Koduri Srisaila Sri Rajamouli, professionally known as S. S. Rajamouli, is an Indian film director, screenwriter, and stunt choreographer known for his works predominantly in the Telugu cinema.[5] He is known for directing high fantasy action films such as Magadheera (2009) featured at the American Fantastic Fest, Eega (2012) winning Most Original Film at the Toronto After Dark Film Festival, Baahubali: The Beginning (2015) nominated for American Saturn Award for Best Fantasy Film, The second installment, The Conclusion (2017) winning the American Saturn Award for Best International Film, and the Australian Telstra People's Choice Award.[6][7][8]

His other works include the action films Sye and Vikramarkudu featured at the 37th International Film Festival of India in the mainstream section.[9] Maryada Ramanna, Vikramarkudu and Chhatrapati were remade in various Indian languages, with successful reviews.[10][11] Rajamouli has garnered various honors including three National Film Awards, four Filmfare Awards South, five state Nandi Awards, the IIFA Award, two SIIMA Awards, the Star World India, "Entertainer of The Year" in 2012, and the "CNN-News18 Indian of the Year in Entertainment" for 2015.
            </p>
        </div>-->

        <h3 class="title-5 m-b-45">Movies Directed</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Movie Id</th>
                        <th>Name</th>
                        <th>Release_Date</th>
                        <th>Box_Office_Collection_In_Crores</th>
                        <th>Director</th>
                        <th>Actors</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if movies_list %}
                        {% for movie in movies_list %}
                            <tr class="tr-shadow">
                                <td>{{ movie.movie_id }}</td>
                                <td >
                                    <a href="/imdb/movie/{{ movie.movie_id }}/">{{ movie.name }}</a>
                                </td>
                                <td>{{ movie.release_date }}</td>
                                <td> {{ movie.box_office_collection_in_crores }}<span> crs</span></td>
                                <td >
                                    <a href="/imdb/director/{{ movie.director.id }}/">{{ movie.director }}</a>
                                </td>
                                <td >
                                    <a href="/imdb/movie/{{ movie.movie_id }}">{{ movie.actors }}</a>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        {% endfor %}
                    {% else %}  
                        <p>No movies are available.</p>
                    {% endif %}
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}