{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Movie table</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                <tr>
                    <th>Movie_Id</th>
                    <th>Name</th>
                    <th>Release Year</th>
                    <th>Budget</th>
                    <th>Genre</th>
                    <th>Result</th>
                    <th>Collections in Crores</th>
                    <th>Director</th>
                    <!--<th>Actors</th> -->
                </tr>
                </thead>
                <tbody>
                    {% if movie_list %}
                        {% for movie in movie_list %}
                            <tr class="tr-shadow">
                                <td>{{ movie.movie_id }}</td>
                                <td class="desc">
                                    <a href="/imdb/movie/{{ movie.movie_id }}/">{{ movie.name }}</a>
                                </td>
                                <td>{{ movie.release_year }}</td>
                                <td>{{ movie.budget }}</td>
                                <td>{{ movie.genre }}</td>
                                <td>{{ movie.result }}</td>
                                <td> {{ movie.box_office_collection_in_crores }}</td>
                                <td class="desc">
                                    <a href="/imdb/director/{{ movie.director.id }}/">{{ movie.director }}</a>
                                </td>
                                <!--<td >
                                    <a href="/imdb/movie/{{ movie.movie_id }}/">{{ movie.actors }}</a>
                                </td>-->
                                <td>
                                    <div class="table-data-feature">
                                        <form method="post">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    class="item"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                            {% endfor %}
                    {% else %}
                                <p>No movies are available.</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}